include ../heading/heading

mixin about()
    +b.SECTION.about
        .container
            +heading('О нас.')
            +e.P.text Методология нашей работы по принципу AGILE
            +e.P.text
                +e.B <b>Люди и взаимодействие</b> 
                | важнее процессов и инструментов;
            +e.P.text
                +e.B <b>Работающий продукт</b>
                | исчерпывающей документации;
            +e.P.text
                +e.B <b>Сотрудничество с партнерами</b> 
                | важнее согласования условий контракта;
            +e.P.text
                +e.B <b>Готовность к изменениям</b> 
                | важнее следования первоначальному плану.