@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.about {
    height: 1330px;
    position: relative;
    padding-top: 40px;
    z-index: 6;

    &:after {
        content: '';
        position: absolute;
        width: 846px;
        height: 1602px;
        background: url('../images/about-face.png');
        left: 0;
        top: -605px;
    }

    &:before {
        content: '';
        position: absolute;
        background: url('../images/about-graffiti.png');
        width: 1273px;
        height: 1152px;
        bottom: 0;
        left: 0;
        opacity: .1;
    }

    .container {
        text-align: right;
    }
}