include ../heading/heading
include ../wave/wave

mixin work()
    +b.SECTION.work 
        .container
            +heading('Почему у нас хотят работать?', 'background')
            p 
                b В команде только Боги Трафика; <br>
                | атмосферный лофт офис в центре СПБ или удаленка <br>
                | гибкий график, Day off мы ценим по достоинству все твои идеи<br>
                | и результаты, и даем возможность для реализации   <br>
                b Корпоративные традиции:  <br>
                | Дни Рождения друллег, совместный досуг, секретное мероприятие - СБСП,  <br>
                | собственный коуч-психолог с жилеткой для тебя) <br>
                | нет PlayStation5 в офисе, она есть у сотрудников дома, могут себе позволить   <br>
        +wave()