@import 'helpers/_variables.scss';
@import 'helpers/_mixins.scss';
@import 'helpers/_reset.scss';
@import 'helpers/_animate.scss';

body {
	font-family: 'Roboto', sans-serif;
	color: $black;
	overflow-x: hidden;
}
