{
	"extends": "airbnb-base",
	"rules": {
		"linebreak-style": 0,
		"no-underscore-dangle": 0,
		"eol-last": 0,
		"indent": ["4", "tab"],
		"no-tabs": 0
	},
	"env": {
		"browser": true,
		"node": true
	}
}