include ../links/links

mixin tabs()
	+b.tabs&attributes(attributes)
		+e.head
			+e.nav
				+link('#')(data-tab='one').__link.js-tabs.active test1
				+link('#')(data-tab='two').__link.js-tabs test2
				+link('#')(data-tab='three').__link.js-tabs test3
			+e.content(data-content='one').active 1
			+e.content(data-content='two') 2
			+e.content(data-content='three') 3