@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.tabs {

	&__content {
		padding: 5px 10px;
		display: none;
		animation: fadeIn .2s ease-in-out;

		@include transition(all .2s ease-in-out);

		&.active {
			display: block;
		}
	}

	&__link {
		padding: 5px 10px;
		color: $black;
		border-bottom: 1px solid $black;
		display: inline-block;

		@include transition(all .2s ease-in-out);

		&.active {
			color: red;
			border-bottom: 1px solid $black;
		}
	}
}
