@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.footer {
    padding: 165px 0 160px 0;
    background: $darkGrey;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('../images/footer-graffiti.png');
        opacity: 0.15;
        pointer-events: none;
    }

    &__social {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        display: block;
        background-image: url('../images/social.png');

        &.twitter {
            background-position: 0 0;
            width: 62px;
            height: 45px;
        }

        &.marker {
            background-position: -62px 0;
            width: 35px;
            height: 50px;
        }

        &.behance {
            background-position: -97px 0;
            width: 69px;
            height: 43px;
        }

        &.facebook {
            background-position: -166px 0;
            width: 28px;
            height: 49px;
        }

        &.vk {
            background-position: -194px 0;
            width: 61px;
            height: 35px;
        }
    }
}