mixin footer()
    +b.FOOTER.footer 
        .container
            +e.social
                +e.A.icon(href="#").twitter
                +e.A.icon(href="#").marker
                +e.A.icon(href="#").behance
                +e.A.icon(href="#").facebook
                +e.A.icon(href="#").vk