include ../links/links

mixin tooltips()
	+link('#')(data-tooltip='tooltip 1' data-direction='left').tooltip&attributes(attributes) test tooptip 1
	+link('#')(data-tooltip='tooltip 2' data-direction='right').tooltip&attributes(attributes) test tooptip 2
	+link('#')(data-tooltip='tooltip 3' data-direction='top').tooltip&attributes(attributes) test tooptip 3
	+link('#')(data-tooltip='tooltip 4' data-direction='bottom').tooltip&attributes(attributes) test tooptip 4