@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.tooltip {
	display: block;
	margin: 0 20px 0 0;

	&__content {
		position: absolute;
		padding: 5px 10px;
		border: 1px solid $black;
		border-radius: 4px;
		animation: fadeIn .2s ease-in-out;
		background: $white;
		width: auto;
	}
}
