@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.text {
    background: url('../images/text-bg.jpg');
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    font-size: 100px;
    font-weight: 700;
    color: $darkGrey;

    @include landscape {
        font-size: 52px;
    }

    @include portrait {
        font-size: 65px;
        text-align: center;
    }

    @include mobile {
        font-size: 30px;
    }

    &.background {
        color: $gold;
    }
}