extends ../../layouts/head

include ../../blocks/header/header
include ../../components/dropdown/dropdown
include ../../components/accordion/accordion
include ../../components/tooltips/tooltips

block content
	+header()
		+b.UL.__nav
			li
				a(href="#") link1
			li
				a(href="#") link2
			li
				a(href="#") link3
			li
				+dropdown('Поехали')
					ul 
						li
							a(href="#") link4
						li
							a(href="#") link5
						li
							a(href="#") link6
	+accordion()
	+tooltips()