@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.main {
    background: $darkGrey;
    min-height: 1230px;
    position: relative;
    overflow: hidden;

    @include portrait {
        display: flex;
        flex-direction: column-reverse;
    }

    @include desktop {
        min-height: 650px;
    }

    @include portrait {
        min-height: 100%;
    }

    &__logo {
        max-width: 1105px;
        margin-top: 212px;
        z-index: 3;
        width: 70%;

        @include notebook {
            width: 70%;
        }

        @include desktop {
            width: 60%;
            margin-top: 100px;
        }

        @include portrait {
            width: 100%;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 80px;
        }

        @include mobile {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        width: 760px;
        height: 961px;
        background: url('../images/main-man.png');
        right: 0;
        bottom: -3px;
        z-index: 2;
        pointer-events: none;

        @include notebook {
            transform: scale(.8);
            right: -76px;
            bottom: -110px;
        }

        @include desktop {
            transform: scale(.6);
            right: -152px;
            bottom: -195px;
        }

        @include landscape {
            bottom: -215px;
        }

        @include portrait {
            display: none;
        }
    }

    &__man {
        display: none;
        margin: 0 auto;
        z-index: 2;

        @include portrait {
            display: block;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 1392px;
        height: 1155px;
        background: url('../images/main-graffiti.png') no-repeat;
        right: 0;
        bottom: -3px;
        z-index: 1;
    }

    .wave {
        bottom: 0;
    }
}