@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.result {
    height: 1280px;
    position: relative;
    z-index: 6;
    padding-top: 80px;

    @include desktop {
        height: 1100px;
        padding-top: 40px;
    }

    @include landscape {
        height: 800px;
    }

    @include portrait {
        height: auto;
    }

    &:before {
        content: '';
        position: absolute;
        top: -450px;
        left: 0;
        width: 1253px;
        height: 1504px;
        background: url('../images/result-graffiti.png');
        opacity: .1;
        pointer-events: none;

        @include portrait {
            transform: scale(.6);
            top: -600px;
            left: -530px;
            width: 1253px;
            height: 1504px;
        }
    }

    .container {
        display: flex;
        text-align: right;
        align-items: flex-end;

        &:last-child {
            align-items: flex-start;
            padding-left: 60px;

            @include landscape {
                align-items: center;
                padding-left: unset;
            }
        }

        @include landscape {
            text-align: center;
            align-items: center;
            font-size: 25px;
        }
    }

    &__subheading {
        font-size: 49px;
        margin-top: 70px;
        font-weight: 700;

        @include landscape {
            font-size: 40px;
        }

        @include landscape {
            font-size: 26px;
            margin-bottom: 45px;
        }
    }

    .text {
        background-size: cover;
        background-position: center;
    }

    .heading {
        max-width: 660px;
        margin-bottom: 30px;
    }

    &__car {
        margin-top: 100px;
        display: block;
    }
}