include ../heading/heading

mixin result()
    +b.SECTION.result 
        .container
            +heading('Наши результаты.', 'background')
            p Мы не публичны, но наши кейсы говорят сами за себя <br>Выиграли Porsche 911 4S и другие призы.  
        +e.IMG.car(src="images/car.png", alt="")
        .container
            +e.H3.subheading 1 место в конкурсе от Adcombo в 2020.