include ../links/links

mixin accordion()
	+b.accordion&attributes(attributes)
		+e.wrap
			+link('#').__link Link 1
			+e.content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum beatae, voluptatem, eveniet, facere error placeat alias blanditiis reprehenderit similique unde hic eligendi, aliquam ipsam. Excepturi, commodi asperiores quasi vero non.
		+e.wrap
			+link('#').__link Link 2
			+e.content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum beatae, voluptatem, eveniet, facere error placeat alias blanditiis reprehenderit similique unde hic eligendi, aliquam ipsam. Excepturi, commodi asperiores quasi vero non.
		+e.wrap
			+link('#').__link Link 3
			+e.content
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum beatae, voluptatem, eveniet, facere error placeat alias blanditiis reprehenderit similique unde hic eligendi, aliquam ipsam. Excepturi, commodi asperiores quasi vero non.
