@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.accordion {

	&__content {
		display: none;
		animation: fadeIn .2s ease-in-out;

		@include transition(all .2s ease-in-out);

		&.active {
			display: block;
		}
	}
}
