@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.header {
	width: 100%;
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: center;
	position: relative;

	&__nav {
		display: flex;
		flex-direction: row;
		align-items: center;

		@media (max-width: 960px) {
			position: absolute;
			right: -100%;
			background: #f00;
			padding: 20px 10px;
			top: 80px;
			min-width: 100px;
			flex-direction: column;

			@include transition(all .2s ease-in-out);

			li {
				display: block;
			}

			&.active {
				right: 0;
			}
		}

		a {
			display: inline-block;
			padding: 0 20px;

			@media (max-width: 960px) {
				padding: 0;
			}
		}
	}

	&__hamburger {
		background-color: transparent;
		border: none;
		width: 40px;
		height: 24px;
		padding: 0;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		display: none;

		@media (max-width: 960px) {
			display: flex;
		}

		span {
			height: 4px;
			display: block;
			background: $black;
			width: 40px;
			border-radius: 4px;
			position: absolute;
			top: 0;

			@include transition(all .2s ease-in-out);

			&::before, &::after {
				content: '';
				position: absolute;
				width: 40px;
				height: 4px;
				border-radius: 4px;
				background-color: $black;
				left: 0;

				@include transition(all .2s ease-in-out);
			}

			&::before {
				top: 10px;
			}

			&::after {
				top: 20px;
				background-color: $black;
			}
		}

		&.active {

			span {
				transform: translate3d(0, 10px, 0) rotate(45deg);

				&::after {
					transform: translate3d(0, -20px, 0) rotate(-90deg);
				}

				&::before {
					opacity: 0;
					transform: rotate(-45deg) translate3d(-6px, -8px, 0);
				}
			}
		}
	}
}
