@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.checkradio {
	position: relative;
	padding-left: 25px;
	display: block;
	cursor: pointer;

	@include transition(all .3s ease-in-out);

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;

		&:checked + .checkradio__box {
			&::before { opacity: 1; }
			&::after { opacity: 1; }
		}
	}

	&__box {
		position: absolute;
		width: 15px;
		height: 15px;
		border: 1px solid $black;
		left: 0;
		top: 2px;

		&::before {
			content: '';
			width: 9px;
			height: 9px;
			background-color: $black;
			display: block;
			opacity: 0;

			@include transition(all .3s ease-in-out);
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 6px;
			height: 12px;
			top: 2px;
			left: 6px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			opacity: 0;

			@include transition(all .3s ease-in-out);
		}
	}

	&__content {
		font-size: 14px;
		line-height: 1.5;
	}
}
