@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_mixins.scss';

.dropdown {
	position: relative;

	&__button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	&__content {
		position: absolute;
		padding: 5px 0;
		border: 1px solid $black;
		border-radius: 4px;
		display: none;
		animation: fadeIn .2s ease-in-out;
		background: $white;
		width: auto;

		&.active {
			display: block;
		}
	}
}
